!!! 5
%html
  %head
    %title=current_page.data.title
    = partial 'partials/head'

%body
  = partial 'partials/header'

  = yield

  = javascript_include_tag 'all'
  = google_analytics_tag

  = partial 'partials/footer'
  = partial 'partials/modals'
