---
title: "APIs You Won't Hate - A community that cares about API design and development."
---

- data.books.each do |slug, book|
  .hero.section.section--primary
    .container
      .hero__content.section--large
        %h2
          %a{ href: "/books/#{slug}.html" }= book.title
        %h3.h4= book.slogan
        %p= book.description

        -# - if data.books[slug].buttons
        -#   - data.books[slug].buttons.each do |button|
        -#     .shopify-product{'data-id': button.id, 'data-label': button.label}

        %a.btn.btn--secondary.btn--large{ href: "/books/#{slug}.html" }
          Find out more

      .hero__aside.section--large
        .ebook-small
          %a{ href: "/books/#{slug}.html" }
            %img{ src: "/images/covers/#{slug}.jpg", width: '500px' }


%section.section.section--large
  .container.container--medium
    %h2 About This Community
    %p API development is a topic very close to Phils heart. APIs You Won't Hate started out as a book, with Phil pouring everything API related he knew, all the problems he faced, all the design decisions he wish he thought about earlier.

    %p Since the book, Phil has continued to learn and grow, thanks to new experiences, and new conversations with really smart people. Learning never stops, and the Slack channel that grew from the book subscribers and their friends has become home to the largest API chat group on the internet.

    %p APIs You Won't Hate is dedicated to learning, writing, sharing ideas and bettering understanding of API practices. Together we can erradicate APIs we hate.

= partial 'partials/subscribe'
